/*pagacercade*/
.carrusel{
    margin-top: 20px ;    
    @include wihe (100%, 400px);   
    @include flex( column, center , center)
}
.carousel_titulo{
    font-family: 'Italianno', cursive;
    font-weight: 900;
    font-size: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:$thirdcolor;
}
.carousel{   
    @include flex( column, center , center);
    width: 500px;
}
 .d-block{
    @include wihe (300px, 300px);
    object-fit: cover ;
}
.carousel-inner{
    width: 500px;
    height: 300px;
}