/*empiezala pagina*/

.principio {
    background-color:$fifthcolor;
    
    .titulo1 { 
     @include flex (row, center,center);
     font-family: 'Italianno', cursive;
    font-weight: 900;
    font-size: 50px;
    
     }

     h1:hover{
        color:$firstcolor;
        background-color:$fifthcolor ;
      }
      .parrafo{
        padding: 5px;
      }
    }


.gral{
    
    display: grid;
    gap: 15px;
    padding: 5px;
    grid-template-areas:  
     "area1 area1 area1 area1 area2 area2"
     "area3 area3 area4 area4 area2 area2";
       .cajas h2{
            margin-top: 25px;
        
       }
       .cajas img{
        @include wihe (100%, 300px);
        object-fit: cover;
        border-radius: 15px;         
          
        }
        
    
    
    .c1 {
        grid-area: area1;
        .img{
            height: auto;
            object-fit: cover;
        }
     }    
    .c2 {
        grid-area: area2;
        @include flex (column, center,center);
        object-fit: cover;
        height: 100%;
        img {
            @include wihe (100%, 100%) ;          
            object-fit: cover;
        
    }
  
    }
    .c3 {
        grid-area: area3;
    }    
    .c4 {
        grid-area: area4;
    }
  }
 /*videos recomendados*/
 .videos{  
    @include flex (row, center,center);
    gap: 5PX;
}