/*mobile*/
@media only screen and (max-width:400px) {
    /*paginaindex*/

    .gral1 {
        display: none;
        background-color: $fifthcolor;
    }

    .principio {
        @include wihe (100%, 100%);
    }

    .gral {
        object-fit: cover;
        @include flex(column, center, center);
        .cajas img {
            @include wihe (100%, 100%);
            object-fit: cover;
        }
    }

    .formularios {

        @include flex(column, start, start);
        .formulario__1{
            @include flex(column, start, start)

        }
    }

    .videos {

        @include flex(column, center, center);
        @include wihe (100%, 100%);
    }

    //FOOTER
   .contenedor{   
    @include flex (column, flex-start, center);
    @include wihe (100%, 100%);
   }
   .contenedor__imagen img{
    @include wihe (212px, 140px);
   }

    /*paginaproductos*/
    .productos {
        @include flex(column, center, normal);
        padding: 10px;
        .productos__imagenes {
            @include flex(row, center, center);            
            @include wihe (100%, 100%);
            object-fit: cover;
        }

    }

    

    /*paginaprodgenerales*/
    .plasticos {
        @include flex(column, center, normal);
        padding: 5px;
     
        .plasticos__imagen {
            @include flex(column, center, center);
            @include wihe (100%, 100%);
            object-fit: cover;
          
        }
    }

    

    //PAGINA AROMATIZACION
    .aromatizacion {
        @include flex(column, center,normal);
        padding: 10px;

        .aromatizacion__imagenes {
            @include wihe (100%, 100%);
            padding: 10px;
           object-fit: cover;
        }


    }
   /*pagacercade*/
    .d-block{
        height: 190px;
        padding: 5px;
    }
    .carousel-inner {
        width: 270px;
        height: 178px;    
        object-fit: cover;
 }
 .carousel{
 width: 270px;
 height: 200px;
 object-fit: cover;
  }
}


@media only screen and (min-width:401px) and (max-width:600px) {
    /*paginaindex*/

    .gral1 {
        display: none;
        background-color: $fifthcolor ;
    }

    .gral {       
        @include flex(column, normal, normal);
        object-fit: cover;
    }

    .principio {
        @include wihe (100%, 100%); 
    }

    .cajas img {
        @include wihe (100%, 100%);
        object-fit: cover;
    }

    .formularios {      
       @include flex(column, center, center);
        .formulario__1{
           @include flex(column, start, start);            
            }
        .formularios__text{
            @include flex(column, start, start);   
        }      
        }
    

    .videos {        
        @include flex(column, normal, center);
    }
    //footer
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;       
        @include wihe (100%, 100%);

  }
    .contenedor__titulo{
        width: 150px;
    }
    .contenedor__imagen img{      
        @include wihe (auto, 110px);
    }
    .contenedor__mapa iframe{
        width: 150px;
    }

 
    /*paginaproductos*/
    .productos{
        padding: 5px;
        .productos__imagenes {           
            @include flex(column, center, center);
            @include wihe (100%, 100%);
            object-fit: cover;
        }
    }
    //PAGINAAROMATIZACION
    .aromatizacion{
        padding: 5px;
        .aromatizacion__imagenes{                      
            @include flex(column, center, center);
            @include wihe (100%, 100%);
            object-fit: cover;
            
     }

    }

    /*pagina*/
    .plasticos {
        @include flex(column, normal, normal);
        .plasticos__imagen {       
            @include flex(column, center, center);
            @include wihe (100%, 300px);
            object-fit: cover;
        }
    }
    /*pagacercade*/
    .d-block{
        height: 270px;
        padding: 5px;
    }
    .carousel-inner {
        width: 400px;
        height: 270px;
        object-fit: cover;
 }
 .carousel {

 
 width: 400px;
 height: 264px;

     }
 }



@media only screen and (min-width:601px) and (max-width:920px) {
    .gral1 {
        display: none;
    }

    .gral {
        @include wihe (100%, 100%);      
        .cajas img {
            object-fit: cover;
        }
    }    
    .principio {
        @include wihe (100%, 100%);
    }   

    .videos {        
        @include flex(row, space-around, normal);
              
    }
    .formularios {      
        display: grid;
        grid-template-columns: 1fr 1fr;
                .formulario__1{
            @include flex(column, start, start);            
             }
         .formularios__text{
             @include flex(column, start, start);   
         }      
         }

    //FOOTER
    .contenedor{     
        display: grid;
        grid-template-columns: 1fr 1fr;        
        @include wihe (100%, 100%);
    } 
    .contenedor__imagen img{        
        @include wihe (auto, 180px);
       
 }
 
    /*paginaproductos*/
    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        .productos__imagenes {
            object-fit: cover;       
           @include wihe (100%, 200px);       
            border-radius: 10px;
          
    
        }
    }

 

    /*paginaprodgrales*/
    .plasticos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0px 15px;
        gap: 15px;
        .plasticos__imagen {       
            @include wihe (100%, 250px);     
            border-radius: 10px;
            @include flex(row ,center, center);
            object-fit: cover;
    
        }
    }

   
    //PAGINAAROMATIZACION
    .aromatizacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0px 15px;
        gap: 5px;
        .aromatizacion__imagenes {        
            @include wihe (100%, 300px);       
            border-radius: 10px;
            @include flex(row ,center, center);
            object-fit: cover;
         }
    }
    /*acercade*/
    .d-block{
      
            height: 296px;
            padding: 5px;
        
    }

 }


@media only screen and (min-width:921px) {
    .nav-item{
        width: auto;
    }
    .c3 h2 {
        font-size: 39px;
        justify-content: center;
    }

    .c4 h2 {
        font-size: 37px;
        justify-content: center;
    }
    .formularios{

        .formulario__1{
        @include flex(column, start, start);            
         }
         .formularios__text{
         @include flex(column, start, start);   
     } 
    }   

    .videos {      
        @include flex(row,space-around , center);
        
    }

    
 

    /*paginaproductos*/
    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0px 15px;
        gap: 15px;
        .productos__imagenes {           
            @include wihe (100%, 250px);            
            border-radius: 10px;
            @include flex(row ,center, center);
            object-fit: cover;
        }
    }   

    /*paginaprodgrales*/  
    .plasticos    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0px 15px;
        gap: 15px;
        .plasticos__imagen {     
            @include wihe (100%, 300px);       
            border-radius: 10px;
            @include flex(row ,center, center);
            object-fit: cover;
        }
    }

    

    /*pagaromatizacion*/
    .aromatizacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0px 15px;
        gap: 15px;
        .aromatizacion__imagenes {        
            @include wihe (100%, 300px);     
            border-radius: 10px;
            @include flex(row ,center, center);
            object-fit: cover;
             }
    }
    /*acercade*/
    .d-block{
        height: 296px;
        padding: 5px;
    }

    
 }