.titulo1 { 
    @include flex (row, center,center);
    font-family: 'Italianno', cursive;
   font-weight: 900;
   font-size: 50px;
   background-color:$thirdcolor ;
   gap: 20px;   
 }
 .productos{
  gap: 15px;
 }