/*contactanos*/
.formularios{
    display: grid;
   padding: 7px;
   grid-template-columns: 1fr 1fr;
   background-color: black;
 }
.input:hover{
    background-color: #b8ac55;

}
h1:hover{
color:red;
background-color: aquamarine;
}

 .formularios--label{
    margin: 10px;
    padding: 7px;
    background-color: #ace1d0;
    border-radius: 10px;
    border: black solid;
 }
 .text{
    width: 250px;
    height: 60px;
    resize: none;
 }
 .formularios__text{
    display: flex;
    align-items: center;
 }