/*contactanos*/
.formularios{
    display: grid;
   padding: 7px;
   grid-template-columns: 1fr 1fr 1fr;
   background-color: $firstcolor;
                    .formularios--label{
                    margin: 10px;
                    padding: 7px;
                    background-color: $sixthcolor;
                    border-radius: 10px;
                    border: $firstcolor;
                    display: flex;
                    width: 250px;
                                 }
                    .formulario__1 {
                        @include flex (column,center , center);   
                    }  
                    .formularios__text{
                        @include flex (column, center, center);       
                    }
                    .text{    
                        @include wihe (250px, 90px);
                        resize: none;
                    }
                    .input {
                        margin: 10px;
                    }
                     .input:hover{
                        background-color:$fourthcolor ;
                    
                    }
 }
  
 
 