 /*footer*/
 
.contenedor {  
    padding: 10px;
    background-color: rgb(163, 188, 210);
    margin: 5px;
    height: 200px;   
    @include flex (row, space-between, center);
    
     
    .contenedor__titulo{
        display: flex;
        width: 150px;
        flex-direction: column;
        
    }
    .contenedor__titulo h3{

        font-family: 'Italianno', cursive;
        font-size: 40px;
        font-weight: 900;
    }
    .contenedor__titulo p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
    
    }
    .contenedor__imagen{  
        display: flex;
        object-fit: cover;
        height: 100%;
       
    }
    .contenedor__imagen img{       
        border-radius: 10px;
        object-fit: cover;
    }
    
    .contenedor__mapa{        
        object-fit: cover;   
        @include flex (column, center, start);
       
    }
    .contenedor__mapa iframe{        
        @include wihe (200px, 100%);
        border-radius: 100%; 
     }
    
    
    
    .contenedor__redes{    
       
        height:  100%;
        @include flex (column, space-around, start);
        
     }
 }



   







