.gral1 {   
    gap: 15px;
    background-color: $firstcolor;
    padding: 15px;    
    overflow: hidden;
    @include flex (row, space-between , center);

    img {     
        @include wihe (100px, 80px)
    }



}

