/*barranavegacion*/
.navbar-brand img {  
    @include wihe (150px, 100px);
    border-radius: 5px;
    object-fit: cover;
}

.container-fluid {
  
    background-color: $sixthcolor;
    object-fit: cover;
    background-image: url(../multimedia/imagesagua.jpg);
    background-size: 50%;
    font-size: 20px;
  

}
.nav-item {
    width: 250px;
    padding: 5px;
    background-color: $thirdcolor;
    margin: 10px;
    border-radius: 10px;
    color: $firstcolor;
 
}
